main {
	align-items: center;
	display: flex;
	flex-direction: column;
	background: transparent;
}

body {
	background: #1d1e1f;
}	

#buttonContainer {
    display: flex;
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 5%;
    margin-bottom: 2%;
}

.button {
    flex: 0 0 12%;
	background-color: #3BCB7C;
	height: 60px;
	text-align: center;
	margin-right: 25px;
	border-radius: 20px;
}

div.button a:link, a:visited {
	border-radius: 20px;
	background-color: #6FFFB0;
	height: 40px;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

div.button a:hover, a:active {
	background-color: #ddffdd;
}

#buttonText {
    font-family: "";
	font-size: 20px;
	font-weight: bold;
	color: black;
}

#title {
    text-align: center;
    font-size: 50pt;
    color: #ffffff;
}

#searchTitleDiv {
    margin-bottom: 70px
}

#calendarTitleDiv {
	flex: 0 0 50%;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6FFFB0;
    color: #f8f8f8;
	padding-top: 10px;
	padding-left: 10px;
    padding-bottom: 7px;
    font-size: 2rem;
    min-width: 70%;
    margin-bottom: 20px;
}

.accordion-button {
    color: #f8f8f8;
    cursor: pointer;
    background: transparent;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid rgba(255,255,255,0.33);
    margin-bottom: 10px;
    width: 100%;
}

.accordion {
    width: 130%;
    margin: auto;
}

.accordion-button:after {
    content: "\25BC";
    font-size: 13px;
    color: #6FFFB0;
    float: right;
    margin-left: 5px;
}


.active:after {
    content: "\25B2";
    color: #6FFFB0;
}

.accordion-pane {
    width: 50%;
    display: none;
    padding: 18px;
}

.accordion-icon {
    color: #6FFFB0;
    margin-right: 10px;
}