.cal {
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

.week-day {
  font-size: 11px;
  font-weight: 600;
}

.month-day {
  font-size: 26px;
  font-weight: 600;
}

.fc-widget-header {
  background: transparent !important;
}

.fc-unthemed .fc-list-item:hover td {
  background-color: #2d2e30 !important;
}

.fc-event {
  background-color: #4bba86 !important;
  border: none !important;
}

.fc-time {
  font-weight: 600;
}

.fc-content {
  color: #212121 !important;
  font-weight: 600;
  padding: 10px;
}

.fc-widget-header,
.fc-axis {
  border: none !important;
  color: #b5b5b5;
}

.fc-center {
  color: #eeeeee;
}

tr {
  height: 48px;
}

:not(.fc-axis) td {
  border-top: 1px solid #fff;
}

.fc-list-empty {
  background: transparent !important;
  font-size: 24px;
  font-weight: 600;
}

.fc-list-heading {
  background-color: #313235 !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #393c3f;
}

.fc-button-primary {
  background-color: #313235;
  border-color: transparent;
  color: #f5f5f5;
}

:not(:disabled).fc-button-primary.fc-button-active,
:not(:disabled).fc-button-primary:active {
  background-color: #8ab4f8;
}

:not(:disabled).fc-button-primary:hover,
:not(:disabled).fc-button:hover {
  background-color: #2d2e30 !important;
  border: none;
}

:disabled.fc-button-primary {
  background-color: #313235;
  border-color: transparent;
}
